---
/* src/components/services-visuals/SupportSidebar.astro */
import "../../styles/global.css";
---

<div
  class="sticky top-24 hidden w-[300px] shrink-0 self-start text-[0.95rem] lg:block"
>
  <div class="flex flex-col gap-3 border-l-2 border-gray-200 pl-6">
    <strong class="mb-2 block text-lg font-extrabold text-gray-900"
      >Jump to</strong
    >
    <a
      class="text-gray-600 no-underline transition-colors hover:font-semibold hover:text-[#78081c]"
      href="#national-support-services">National Services</a
    >
    <a
      class="text-gray-600 no-underline transition-colors hover:font-semibold hover:text-[#78081c]"
      href="#state-and-territory-services">State & Territory Services</a
    >
    <a
      class="text-gray-600 no-underline transition-colors hover:font-semibold hover:text-[#78081c]"
      href="#legal-help">Legal Help</a
    >
    <a
      class="text-gray-600 no-underline transition-colors hover:font-semibold hover:text-[#78081c]"
      href="#other-resources">Other Resources</a
    >
  </div>
</div>
